# Copyright (c) 2012-2020 Jeremy Stanley <fungi@yuggoth.org>. Permission to
# use, copy, modify, and distribute this software is granted under terms
# provided in the LICENSE file distributed with this software.

*_old
*Gaz_*_national.zip
COOP-ACT.TXT
airports.csv
bp??????.dbx
coop-stations.txt
nsd_cccc.txt
*.pyc
